{% extends "PizzaApp/base.html" %} 
{% load static %}
{% block content %}


<p style="color:ghostwhite; font-size: medium"> Pizza: {{ pizza }} </p>
<body style="background-color:powderblue; background-image: url('{% static 'pizzaapp/images/pizzas_page.jpg' %}'); 
background-repeat: no-repeat; background-size: cover" "></body>
<ul>
    {% for t in toppings %}

    <li style="color:ghostwhite; font-size: medium"> {{t.topping_name}} </li>

    {% empty %}
    <li> No entries for this topic have been added yet. </li>
    {% endfor %}
</ul>
{% for i in image %}
    <img src="{{i.image.url}}" height="250" width="500" >
    {% endfor %} 
<h5 style="color:ghostwhite; font-size: medium"> Comments About {{pizza}} Pizza: </h5>

    {% for c in all_comments %}
    <ul>
    <li style="color:black; font-size: medium; background-color: white;">"{{c.text}}"--({{c.name}},{{c.date_added}})</li>

    </ul>
    {% empty %}
    <li>No comments have been added yet</li>
    {% endfor %}
</body>
    <p style="color:white; font-size: medium;"><a style="color:white; font-size: medium;" href="{% url 'PizzaApp:addcom' pizza.id  %}">Add a Comment</a></p>

{% endblock content %}